
.widget {
    display: flex;
    justify-content: space-between;
    flex: 1; // using flex:1 instead of width because when we make screen smaller then its original size it makes the element uncomfortable to show
    padding: 10px;
    // -webkit-box-shodow: 2px 4px 10px 1px rgba(0, 0, 0, .47);
    // box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, .47);
    border-radius: 10px;
    height: 100px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1em 0em 1em 1em;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transform-style: preserve-3d;
    
    &:hover{
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }
    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateZ(60px);
        .title {
            font-weight: bold;
            font-style: 14px;
            color: rgb(160, 160, 160);
        }

        .counter {
            font-style: 28px;
            font-weight: 300;

        }

        .link {
            width: max-content;
            font-style: 12px;
            border-bottom: 1px solid gray;
        }

        .percentage {
            display: flex;
            align-items: center;
            font-style: 14px;

            &.positive {
                color: green;
            }

            &.negative {
                color: red;
            }
        }

        .icon {
            font-style: 18px;
            padding: 5px;
            // background-color: rgba(128,0,128,.342);
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}